/storage/*.key
/vendor
composer.lock
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.history
.DS_Store
public/.DS_Store
public/backend/.DS_Store
/deploy
.vscode
node_modules/
package-lock.json
/public/upload/mpdf/*
/public/upload
public/upload.zip
