.modal-exercise-type.A {
  background-color: #219653;
}
.modal-exercise-type.B {
  background-color: #1454c7;
}
.modal-exercise-type.C {
  background-color: #967121;
}
.modal-exercise-type.D {
  background-color: #962169;
}
.modal-exercise-type.E {
  background-color: #21963a;
}
